<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function() {
    var table = $('#example').DataTable();
    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );
    // $('#button').click( function () {
    //     alert( table.rows('.selected').data().length +' row(s) selected' );
    // } );

    $('button#wishListButton').bind('click', function() {
      var len = table.rows('.selected').data().length
      for (i = 0; i < len; i++){
        console.log(table.rows('.selected').data()[i])
        console.log(JSON.stringify(table.rows('.selected').data()[i]))
        $.post('/process_wishlist', JSON.stringify(table.rows('.selected').data()[i]));
      }
      return false;
    });

    $('button#Delete').bind('click', function() {
      var len = table.rows('.selected').data().length
      for (i = 0; i < len; i++){
        console.log(table.rows('.selected').data()[i])
        console.log(JSON.stringify(table.rows('.selected').data()[i]))
        $.post('/delete_wishlist', JSON.stringify(table.rows('.selected').data()[i]),
                function(json) {
                  if (json.error){return}
                  $(document).ajaxStop(function() {location.reload(true)})
                });
      }
      return false;
    });


    $('button#genrePopular').bind('click', function() {
      window.location.href = '/recommendation?type=genrePopular'
      return false;
    });

    $('button#ratingYear').bind('click', function() {
      window.location.href = '/recommendation?type=ratingYear'
      return false;
    });

    $('button#directorPopular').bind('click', function() {
      window.location.href = '/recommendation?type=directorPopular'
      return false;
    });

    $('button#countryScore').bind('click', function() {
      window.location.href = '/recommendation?type=countryScore'
      return false;
    });


} );


</script>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

</head>
<body>
    {% include 'includes/_navbar.html' %}

    <div class="container">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>

</body>
</html>
